################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/MovieAgent/bin
/MovieAgent/obj
/MovieAgent.Core/bin
/MovieAgent.Core/obj
/MovieAgent.Infrastructure/bin
/MovieAgent.Infrastructure/obj
/项目现状分析.md
/MovieAgent.Tests/bin/Debug/net10.0-windows
/MovieAgent.Tests/obj
/MovieAgent/output.log
/已完成的功能2026-06-09.md
/MovieAgent/appsettings.json
