################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/MovieAgent/bin
/MovieAgent/obj
/MovieAgent.Core/bin
/MovieAgent.Core/obj
/MovieAgent.Infrastructure/bin
/MovieAgent.Infrastructure/obj
/MovieAgent/appsettings.json
